*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    max-width: 400px;
    width: 100%;
}

.forgotPassword{
    color: orange;
}

.btn1{
    background: linear-gradient(to right, rgb(239, 129, 148), orange);
}

.txt{
    background: linear-gradient(to right, rgb(239, 129, 148),orange);
    background-clip: text;
    color: transparent;
}